* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.heading {
    padding: 60px;
    background-color: #b92a46;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.heading p {
    font-size: 1.3em;
}

nav {
    background-color: #922c41;
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

main {
    padding: 25px;
    overflow: auto;
}

h2, h3 {
    color: #dd5b75;
}

.content-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

#content {
    float: left;
    width: 75%;
}

article > img {
    width: 75%;
    height: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.author header {
    text-align: center;
}

.author img {
    width: 200px;
}

.author h3 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightskyblue;
}

h4 {
    word-spacing: 2px;
}

footer {
    padding: 20px;
    color: white;
    background-color: #922c41;
    text-align: center;
    font-weight: bold;
}

table {
    text-align: justify;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    h2 {
        text-align: center;
    }
}